.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fill, 10rem);
  grid-template-columns: repeat(auto-fill, minmax(10rem, auto));
  grid-auto-columns: 10rem;
  grid-auto-rows: 10rem;
  grid-auto-flow: row dense;
}
