.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fill, 10rem);
  grid-template-columns: repeat(auto-fill, minmax(9rem, auto));
  grid-auto-columns: minmax(10rem, auto);
  grid-auto-rows: minmax(10rem, auto);
  grid-auto-flow: row dense;
}
