.tile {
  display: flex;
  flex-flow: column nowrap;

  border: 1px solid #97c2ba;
  border-radius: 1rem;
  grid-column: span 2;
  grid-row: span 1;

  // -webkit-box-shadow: 0.15rem 0.15rem 0.3rem 0px #e7e7e7;
  // -moz-box-shadow: 0.15rem 0.15rem 0.3rem 0px #e7e7e7;
  // box-shadow: 0.15rem 0.15rem 0.3rem 0px #e7e7e7;

  .header {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .body {
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &.small {
    grid-column: span 2;
    grid-row: span 1;
  }

  &.medium {
    grid-column: span 3;
    grid-row: span 2;
  }

  &.large {
    grid-column: span 4;
    grid-row: span 3;
  }

  &.filler {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #f1f1f1;
  }
}
