.tile {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.small {
    grid-column: span 2;
    grid-row: span 1;
  }

  &.medium {
    grid-column: span 3;
    grid-row: span 2;
  }

  &.large {
    grid-column: span 4;
    grid-row: span 3;
  }

  &.filler {
    grid-column: span 1;
    grid-row: span 1;
    background-color: black;
  }
}
