.tile {
  border: 1px solid black;

  &.small {
    grid-column: span 2;
    grid-row: span 1;
  }

  &.medium {
    grid-column: span 3;
    grid-row: span 2;
  }

  &.large {
    grid-column: span 4;
    grid-row: span 3;
  }

  &.filler {
    grid-column: span 1;
    grid-row: span 1;
    background-color: black;
  }
}
